# dependencies
node_modules
.pnp
.pnp.js

# next.js
.next
out

# builds
dist
build

# logs
*.log

# env
.env
.env.*

# OS
.DS_Store

# typescript
*.tsbuildinfo

# docker
docker-data

# misc
coverage
.vercel